
html {
background-color: white;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {

}

.classroom {
  display: flex;

}

.post-index {
  width: 300px;
}

.post-container {
  display: inline-block;
  width: 70%;
}


.post-details {

}

.post-summary {

}

.post-answer {

}

.post-discussion {

}

.navbar-header{

}
