
html {
background-color: white;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {

}

.classroom {
  display: flex;

}

.post-container {
  display: inline-block;
  width: 75%
}


.post-details {

}

.post-summary {

}

.post-answer {

}

.post-discussion {

}
